body{
 background-image: url("../img/bg.png");

 }


/*Canvas ou on dessine les masques*/
#mask{
	position : fixed !important;
	z-index :2;
	background-color: aliceblue;
	left: 250px;
	top: initial;
	/* right: 16px; */
	top: 170px;
	height:540px;
	width: 720px;
}

/*#mask{

  margin-right: auto;
	left: 80px;
	top : 240px;
	right:800px;
/* margin-left:21.6%;*/


/*Zone video et photo */
#bv{
	padding-top: 10px;
	margin-top: 20px;
	width: 80%;
	max-width: 1600px;
	min-width: 1200px;
	/*align-content: center;*/
	height: 620px;
	background-color: #6dc2f8;
	margin-left: auto;
	margin-right: auto;
	box-shadow : 0px 0px 5px;
}

#v{
	padding-left: auto;
	margin-left: auto;
	display: inline;
	position: relative;
	width: 720px;
	padding-top: 50px;
	margin-left: 80px;
	margin-right: auto;
}


#bv video{
	/*position: absolute;*/
	box-shadow : 0px 0px 5px;
	width: 720px;
	height: 540px;
}

#photo{
  	position: absolute;
  	z-index: 1;
  	margin-left: auto;
  	margin-right: auto;
  	left: 80px;
  	top: 240px;
  	right: 800px;
  	height: 540px;
  	width: 720px;
}

#canvas{
	display: none;
}

/*#newcanvas {
	position: absolute;
	box-shadow : 0px 0px 5px;
	width: 720px;
	height: 540px;
	margin-left: 80px;
}*/

 /*Formulaire cacher gerer par Ajax*/
#formulaire button{
 	border-radius: 500px;
	width: 50px;
 	height: 50px;
 	background-color: #6dc2f8;
 	box-shadow : 0px 0px 10px;
 	border: none;
 	color: #00beff;

}

#formulaire{
	position: absolute;
	left: 320px;
    bottom: -60px;
	font-size: 30px;
 	border-radius: 500px;
 	width: 50px;
 	height: 50px;

}

#formulaire input{
	display: none;

}

/*Bouton activateur de cam*/
#stop {
    position: absolute;
    left: 0px;
    bottom: 2px;
    font-size: 52px;
    border-radius: 500px;
    width: 50px;
    height: 50px;
    opacity: 0.6;
}

#cam {
	position: absolute;
	left: 0px;
    bottom: -60px;
	font-size: 30px;
 	border-radius: 500px;
 	width: 50px;
 	height: 50px;
 	color: #00beff;
 	background-color: #6dc2f8;
 	border: none;
	box-shadow : 0px 0px 10px;

 }

/*Prise de photo apres 3 seconde */

#retardateur {
	position: absolute;
	left: 260px;
    bottom: -60px;
	font-size: 30px;
 	border-radius: 500px;
 	width: 50px;
 	height: 50px;
 	color: #00beff;
 	background-color: #6dc2f8;
 	border: none;
	box-shadow : 0px 0px 10px;

 }

/*
#startbutton {
	position: absolute;
	left: 320px;
    bottom: -60px;
	font-size: 30px;
 	border-radius: 500px;
 	width: 50px;
 	height: 50px;
 	color: #00beff;
 	background-color: #6dc2f8;
 	border: none;
	box-shadow : 0px 0px 10px;

 }*/

/*Bouton envoi d'image*/

#upload {
	position: absolute;
	left: 380px;
    bottom: -60px;
	font-size: 30px;

 	border-radius: 500px;
 	width: 50px;
 	height: 50px;
 	color: #00beff;
 	background-color: #6dc2f8;
 	border: none;
	box-shadow : 0px 0px 10px;
 }

/*Bouton suppression */

#corbeille {
	position: absolute;
	left: 487px;
	font-size: 30px;
	bottom: -60px;
	border-radius: 500px;
	width: 50px;
	height: 50px;
	color: #00beff;
	background-color: #6dc2f8;
	border: none;
	box-shadow : 0px 0px 10px;
	}

/*Bouton telecharger photo */

#sauvegarder button{
	position: absolute;
	left: 545px;
	font-size: 30px;
	bottom: -60px;
	border-radius: 500px;
	width: 50px;
	height: 50px;
	color: #00beff;
	background-color: #6dc2f8;
	border: none;
	box-shadow : 0px 0px 10px;
	}



/*Partie ou sont afficher les masque*/

#montage {
	padding-top: 50px;
	margin-top: 50px;
	width: 80%;
	min-width: 1600px;
	max-width: 1600px;
	height: 620px;
	background-color: #6dc2f8;
	margin-left: auto;
	margin-right: auto;
	box-shadow : 0px 0px 5px;

}



/*
#top-app p{
	position: absolute;
	font-size: 2vh;
	color: #00beff;
	top : 20%;
	left : 77.90%;
}*/
