body{
 background-image: url("../img/bg.png");

 }

/* banniere */
#top-app {
background-color:#6dc2f8 ;
position: relative;
margin-left: auto;
margin-right: auto;
width: 80%;
height: 140px;
max-width: 1600px;
min-width: 1600px;
box-shadow : 0px 0px 5px;
}

#croix {
	position: absolute;
	font-size: 50px;
	color: #00beff;
	top : 5%;
	left : 80%;
}
#album {
	position: absolute;
	font-size: 50px;
	color: #00beff;
	top : 5%;
	left : 75%;
}

/*Canvas ou on dessine les masques*/
#mask{
	position : absolute;
	z-index :2;
	margin-left:auto;
	margin-right: auto; 
	left: 80px;
	top : 240px;
	right:800px;
/* margin-left:21.6%;
margin-right:auto%;
margin-top :3.2%; */
	height:540px;
	width: 720px;

}


/*Zone video et photo */
#bv{
	padding-top: 50px;
	margin-top: 50px;
	width: 80%;
	min-width: 1600px;
max-width: 1600px;

	height: 620px;
	background-color: #6dc2f8;
	margin-left: auto;
	margin-right: auto;
	box-shadow : 0px 0px 5px;

}

#v{
	display: inline;
	position: relative;
	width: 720px;
	padding-top: 50px;
	margin-left: 80px;
	margin-right: 30px;
}


#v video{
	position: absolute;
	box-shadow : 0px 0px 5px;
	width: 720px;
	height: 540px;
}

#photo{
	box-shadow : 0px 0px 5px;
}

#canvas{
	display: none;
}

/*#newcanvas {
	position: absolute;
	box-shadow : 0px 0px 5px;
	width: 720px;
	height: 540px;
	margin-left: 80px;
}*/

 /*Formulaire cacher gerer par Ajax*/
#formulaire button{
 	border-radius: 500px;
	width: 50px;
 	height: 50px;
 	background-color: #6dc2f8;
 	box-shadow : 0px 0px 10px;
 	border: none;
 	color: #00beff;

}	

#formulaire{
	position: absolute;
	left: 320px;
    bottom: -60px;
	font-size: 30px;
 	border-radius: 500px;
 	width: 50px;
 	height: 50px;

}

#formulaire input{
	display: none;

}

/*Bouton activateur de cam*/
#stop {
    position: absolute;
    left: 0px;
    bottom: 2px;
    font-size: 52px;
    border-radius: 500px;
    width: 50px;
    height: 50px;
    opacity: 0.6;
}

#cam {
	position: absolute;
	left: 0px;
    bottom: -60px;
	font-size: 30px;
 	border-radius: 500px;
 	width: 50px;
 	height: 50px;
 	color: #00beff;
 	background-color: #6dc2f8;
 	border: none;
	box-shadow : 0px 0px 10px;

 }

/*Prise de photo apres 3 seconde */

#retardateur {
	position: absolute;
	left: 260px;
    bottom: -60px;
	font-size: 30px;
 	border-radius: 500px;
 	width: 50px;
 	height: 50px;
 	color: #00beff;
 	background-color: #6dc2f8;
 	border: none;
	box-shadow : 0px 0px 10px;

 }

/*
#startbutton {
	position: absolute;
	left: 320px;
    bottom: -60px;
	font-size: 30px;
 	border-radius: 500px;
 	width: 50px;
 	height: 50px;
 	color: #00beff;
 	background-color: #6dc2f8;
 	border: none;
	box-shadow : 0px 0px 10px;

 }*/

/*Bouton envoi d'image*/

#upload {
	position: absolute;
	left: 380px;
    bottom: -60px;
	font-size: 30px;

 	border-radius: 500px;
 	width: 50px;
 	height: 50px;
 	color: #00beff;
 	background-color: #6dc2f8;
 	border: none;
	box-shadow : 0px 0px 10px;
 }

/*Bouton suppression */
 
#corbeille {
	position: absolute;
	left: 1040px;
	font-size: 30px;
    bottom: -60px;
 	border-radius: 500px;
 	width: 50px;
 	height: 50px;
 	color: #00beff;
 	background-color: #6dc2f8;
 	border: none;
	box-shadow : 0px 0px 10px;
 }

/*Bouton telecharger photo */

#sauvegarder button{
	position: absolute;
	left: 1100px;
	font-size: 30px;
    bottom: -60px;
 	border-radius: 500px;
 	width: 50px;
 	height: 50px;
 	color: #00beff;
 	background-color: #6dc2f8;
 	border: none;
	box-shadow : 0px 0px 10px;
 }



/*Partie ou sont afficher les masque*/

#montage {
	padding-top: 50px;
	margin-top: 50px;
	width: 80%;
	min-width: 1600px;
	max-width: 1600px;
	height: 620px;
	background-color: #6dc2f8;
	margin-left: auto;
	margin-right: auto;
	box-shadow : 0px 0px 5px;

}



/*
#top-app p{
	position: absolute;
	font-size: 2vh;
	color: #00beff;
	top : 20%;
	left : 77.90%;
}*/
