body{
 background-image: url("../img/bg.png");
 }
 @font-face{
 	font-family: "crayon";
 	src: url("crayon.ttf");
 }
/*Css general*/
#bv,#montage,#remote{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 1200px;
  max-width: 1600px;
  background-color: #6dc2f8;
  box-shadow : 0px 0px 10px;
}

/*Zone video*/
#bv{
  display: flex;
  flex-wrap: nowrap;
  height: 560px;
  background-color: #6dc2f8;
  margin-bottom: 10px;
}

#void1,#webcam,#preview{
  margin-top: 10px;
}

#void1{
  width: 100px;
  height: 540px;
}

#photo{
  position: absolute;
}

#webcam{
  width: 720px;
  height: 540px;
  background-image: url("../img/ncam.png");
  z-index: 2;
}
/*zone bouton*/
#preview{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  height: 540px;
  overflow-y: scroll;
}

#remote{
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  height: 55px;
  margin-top: 0px;
  box-shadow: 1px 0px 8px;
}

.button{
  width: 50px;
  height: 50px;
  align-content: center;
  line-height: 50px;
  color: #00beff;
  background-color: #6dc2f8;
  border: none;
  box-shadow : none;
  font-size: 30px;
  border-radius: 500px;
  text-align: center;

}

.button:nth-child(4),.button:nth-child(5),.button:nth-child(6)
,.button:nth-child(6){
  box-shadow : 0px 0px 10px;

}
.button:nth-child(7){
  color: green;
}

.button:nth-child(8){
  color: red;
}


/*formulaire cachÃƒÆ’Ã‚Â©*/

/*Canvas*/
#mask{
  z-index: 3;
  position: absolute;
  height: 540px;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}


/*Partie masque*/
#montage{
  display: flex;
  width: 80%;
  height: 100px;
  background-color: #6dc2f8;
}

#canvas{
  display: none;
}

.picture_preview{
  margin : 3px;
}

.picture_preview a{
  font-family: "crayon";
  position: relative;
  left: 179px;
  bottom: 4px;
  color : red;
  text-decoration: none;
}

#imgToUpload form,input{
	display: none;
}

#footer{
	background-color:#6dc2f8;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 20px;
	min-width: 1200px;
	max-width: 1600px;
	box-shadow : 0px 0px 5px;
	top: 80%;
	margin-top: 10px;
	
}

#footer img{
	float: right;
	margin-right: 5px;
	opacity: 0.5;
}

@media (max-width: 640px) {
    * {
        box-sizing: border-box;
    }

    /* passer body (et tous les éléments de largeur fixe) en largeur automatique */

    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

    img,
    table,
    td,
    blockquote,
    code,
    pre,
    textarea,
    input,
    iframe,
    object,
    embed,
    video {
        max-width: 100%;
    }

    /* conserver le ratio des images */

    img {
        height: auto;
    }

    /* gestion des mots longs */

    textarea,
    table,
    td,
    th,
    code,
    pre,
    samp {
        -webkit-hyphens: auto; /* césure propre */
        -moz-hyphens: auto;
        hyphens: auto;
        word-wrap: break-word; /* passage à la ligne forcé */
    }

    code,
    pre,
    samp {
        white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
    }

    /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

    .element1,
    .element2 {
        float: none;
        width: auto;
    }

    /* masquer les éléments superflus */

    .hide_mobile {
        display: none !important;
    }

	#photo{
		/*border: 133px solid black;*/
		max-width: 500% !important;
	}

	/*.picture_preview{
		width: 650px;
	}*/

	#montage{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 800px;
		overflow-y: scroll;
	}
	#montage img{
		/*width: 800px !important;*/
		/*height: 800px !important;*/
	}

	#remote{
		height: 35vh;
	}

	.button{
		line-height: 40vh;
		width: 60vh;
		height: 30vh;
	}
	.button i{
		font-size: 20vh;
	}

	.button:nth-child(4),.button:nth-child(5),.button:nth-child(6)
	,.button:nth-child(6){
	  border: 5px solid #00beff;
	}

}
