body{
 background-image: url("../img/bg.png");
 }
 @font-face{
 	font-family: "crayon";
 	src: url("crayon.ttf");
 }
/*Css general*/
#preview,#pagination{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 1200px;
  max-width: 1600px;
  background-color: #6dc2f8;
  box-shadow : 0px 0px 10px;
}

/*zone bouton*/
#preview{
  display: flex;
  /*flex-direction: row-reverse;*/
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: flex-end;*/
  /*align-items: : flex-end;*/
  flex: 1;
  /*width: 470px;*/
  height: 734px;
  /*background-color: green;*/
  overflow-y: hidden;
}

.picture_preview{
  margin : 3px;
}

.picture_preview .delete_pic{
  font-family: "crayon";
  position: relative;
  /* bottom: 0px; */
  left: 699px;
  font-size: 2pc;
  bottom: 11px;
  color : red;
  text-decoration: none;
}

.picture_preview .liked{
  font-family: "crayon";
  font-weight: bold;
  position: relative;
  /* bottom: 0px; */
  left: 566px;
  top: 512px;
  font-size: 2pc;
  color: #ce4747;
  text-decoration: none;
}

.picture_preview .number_liked{
  font-family: "crayon";
  font-weight: bold;
  position: relative;
  /* bottom: 0px; */
  left: 117px;
  top: 153px;
  color : black;
  text-decoration: none;
}

.picture_preview .comments{
  font-family: "crayon";
  font-weight: bold;
  position: relative;
  /* bottom: 0px; */
  /* left: -12px; */
  right: 29px;
  top: 512px;
  font-size: 2pc;
  color: #ce4747;
  text-decoration: none;
}

.picture_preview .number_comments{
  font-family: "crayon";
  font-weight: bold;
  position: relative;
  /* bottom: 0px; */
  /* left: -12px; */
  right: 31px;
  top: 153px;
  color : black;
  text-decoration: none;
}

.comments_zone{
  position: relative;
  width: 644px;
  height: 152px;
  background-color: rgb(221, 221, 221);
  top: 509px;
  margin-left: auto;
  margin-right: auto;
  font-family: "crayon";
  overflow-y: scroll;
}

.comments_write{
  position: relative;
  width: 648px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.comments_write input{
  position: relative;
  width: 640px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  top: 509px;
  left: 2px;
  margin-left: auto;
  margin-right: auto;
  border-style: groove;
    font-family: "crayon";
    text-align: center;
  /* border-width: 2px; */
}
.comments_write input:focus{
   outline : none;
}

#pagination{
  display: none;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  align-items: center;
}

#pagination a{
  text-decoration: none;
  color:black;
  font-family: "crayon";
}
