/*==========Css General==========*/
body
{
	background-color: #ccf2ff;
/* 	width: 100%; */
/* 	height: 100%; */
}
html{
/* 	width: 100%; */
/* 	height: 0px; */
}
@font-face{
	font-family: "crayon";
	src: url("crayon.ttf");
}

/*==========Css Contenu==========*/


#top-app {
background-color:#6dc2f8 ;
position: relative;
margin-left: auto;
margin-right: auto;
width: 80%;
height: 140px;
max-width: 1600px;
min-width: 800px;
box-shadow : 0px 0px 5px;
}

#croix {
	position: absolute;
	font-size: 50px;
	color: #00beff;
	top : 5%;
	left : 81%;
}
#album {
	position: absolute;
	font-size: 50px;
	color: #00beff;
	top : 5%;
	left : 76%;
}


/* div message pour le mail */

#redirect{
background-color:#6dc2f8 ;
position: relative;
margin-left: auto;
margin-right: auto;
width: 80%;
height: 500px;
max-width: 1600px;
min-width: 800px;
font-family: "crayon";
font-size: 3vw;
text-align : center;
line-height: 140px;
box-shadow : 0px 0px 5px;
display: block;

}

#redirect form{
/*background-color:#6dc2f8 ;*/
position: relative;
margin-left: auto;
margin-right: auto;
width: 20%;
max-width: 1600px;
min-width: 800px;
font-family: "crayon";
font-size: 2vw;
text-align : center;
line-height: 20px;
display: block;

}
