

#croix {
	position: absolute;
	font-size: 50px;
	color: #00beff;
	top : 5%;
	left : 83%;
}
#album {
	position: absolute;
	font-size: 50px;
	color: #00beff;
	top : 5%;
	left : 76%;
}

#app {
	position: absolute;
	font-size: 50px;
	color: #00beff;
	top : 5%;
	left : 69%;
}
